<!-- <div class="accordion">
  <div
    class="accordion__item"
    *ngFor="let item of items; let i = index"
    (click)="toggleItem(item, i)"
  >
    <div class="accordion__header">
      <span>{{ item.title }}</span>
      <span class="accordion__icon" [ngClass]="{ open: item.open }">▲</span>
    </div>
    <div class="accordion__content" #content>
      <ng-content></ng-content>
    </div>
  </div>
</div> -->
<div class="accordion">
  <div class="accordion__item">
    <div class="accordion__header" (click)="toggleItem()">
      <span>{{ item.title }}</span>
      <span class="accordion__icon" [ngClass]="{ open: item.open }">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.6877 5.60958C12.9033 5.43708 13.2179 5.47204 13.3905 5.68767C13.5438 5.87934 13.5332 6.14925 13.3775 6.32802L13.3124 6.39045L8.31237 10.3905C8.15584 10.5157 7.94285 10.5336 7.77019 10.4441L7.68767 10.3905L2.68767 6.39045C2.47204 6.21795 2.43708 5.9033 2.60958 5.68767C2.76292 5.496 3.02857 5.44708 3.23715 5.55973L3.31237 5.60958L8.00002 9.35902L12.6877 5.60958Z"
            fill="#68737D"
          />
        </svg>
      </span>
    </div>
    <div class="accordion__content" #content>
      <ng-content></ng-content>
    </div>
  </div>
</div>
