<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Fecha con...</th>
        <th>Descripción</th>
        <th>Nro. docume...</th>
        <th>Cuenta</th>
        <th>Monto</th>
        <th>Validación RPA</th>
        <th>Pago</th>
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>16/03/2024</td>
        <td>Retiro ATM BP Rec. Inaqui...</td>
        <td>24532123</td>
        <td>*****1234</td>
        <td>90,00</td>
        <td>Inconcluso</td>
        <td>Pendiente</td>
      </tr>
      <tr>
        <td>16/03/2024</td>
        <td>Retiro ATM BP Rec. Retir...</td>
        <td>14365345</td>
        <td>*****1234</td>
        <td>180,00</td>
        <td>Inconcluso</td>
        <td>Pendiente</td>
      </tr>
    </tbody>
  </table>
</div>
